<li class="{{is_current 'index'}}"><a href="/">首页</a> </li>
<li class="{{is_current 'aboutus'}}"><a href="/company/aboutus.html">关于美游</a></li>
<li class="{{is_current 'news'}}"><a href="/news.html">新闻资讯</a></li>
<li class="{{is_current 'games'}}"><a href="/games.html">游戏中心</a></li>
<li class="{{is_current 'contact_us'}}"><a href="/company/contact_us.html">联系我们</a></li>