
<ul>
     {{#if need_des }}
        {{#news_des need_des}}
            <p><a href="/news/{{../need_des}}.html">{{cate_name}}</a>
            <blockquote>
                <img src="/assets/img/{{icon_img}}" alt="">
                <a href="/news/details/{{news_id}}.html">{{desc}}</a>
                <cite>{{publish_time}}</cite>
            </blockquote>
        </p>
        {{/news_des}}
    {{/if}}

    {{#each param}}
        <li><a href="/news/details/{{id}}.html"><span>[{{publish_time}}]</span>{{title}}</a></li>
   {{/each}}
</ul>

